@function getHover($value) {
  $hover-color: lighten($value, 5%);
  @if lightness($value) > 50 {
    $hover-color: darken($value, 3%);
  }
  @return $hover-color;
}
@function getSelected($value) {
  $hover-color: lighten($value, 10%);
  @if lightness($value) > 50 {
    $hover-color: darken($value, 5%);
  }
  @return $hover-color;
}

[data-theme="f-dark"] {
  $color-color-5-secondary: #dcda98;
  --color-color-5-secondary: #{$color-color-5-secondary} !important;
  --color-color-5-secondary-hover: #{getHover($color-color-5-secondary)} !important;
  --color-color-5-secondary-selected: #{getSelected($color-color-5-secondary)} !important;
  $color-warning-text: #f2d08c;
  --color-warning-text: #{$color-warning-text} !important;
  --color-warning-text-hover: #{getHover($color-warning-text)} !important;
  --color-warning-text-selected: #{getSelected($color-warning-text)} !important;
  $color-color-4-subtle: #362a5b;
  --color-color-4-subtle: #{$color-color-4-subtle} !important;
  --color-color-4-subtle-hover: #{getHover($color-color-4-subtle)} !important;
  --color-color-4-subtle-selected: #{getSelected($color-color-4-subtle)} !important;
  $color-color-3-secondary: #d0a08b;
  --color-color-3-secondary: #{$color-color-3-secondary} !important;
  --color-color-3-secondary-hover: #{getHover($color-color-3-secondary)} !important;
  --color-color-3-secondary-selected: #{getSelected($color-color-3-secondary)} !important;
  $color-color-5-default: #d2ce56;
  --color-color-5-default: #{$color-color-5-default} !important;
  --color-color-5-default-hover: #{getHover($color-color-5-default)} !important;
  --color-color-5-default-selected: #{getSelected($color-color-5-default)} !important;
  $color-color-4-surface: #151023;
  --color-color-4-surface: #{$color-color-4-surface} !important;
  --color-color-4-surface-hover: #{getHover($color-color-4-surface)} !important;
  --color-color-4-surface-selected: #{getSelected($color-color-4-surface)} !important;
  $color-color-2-default: #506ed7;
  --color-color-2-default: #{$color-color-2-default} !important;
  --color-color-2-default-hover: #{getHover($color-color-2-default)} !important;
  --color-color-2-default-selected: #{getSelected($color-color-2-default)} !important;
  $color-color-4-default: #584393;
  --color-color-4-default: #{$color-color-4-default} !important;
  --color-color-4-default-hover: #{getHover($color-color-4-default)} !important;
  --color-color-4-default-selected: #{getSelected($color-color-4-default)} !important;
  $color-color-3-default: #a96344;
  --color-color-3-default: #{$color-color-3-default} !important;
  --color-color-3-default-hover: #{getHover($color-color-3-default)} !important;
  --color-color-3-default-selected: #{getSelected($color-color-3-default)} !important;
  $color-color-4-text: #e1dcef;
  --color-color-4-text: #{$color-color-4-text} !important;
  --color-color-4-text-hover: #{getHover($color-color-4-text)} !important;
  --color-color-4-text-selected: #{getSelected($color-color-4-text)} !important;
  $color-color-5-text: #f4f3d7;
  --color-color-5-text: #{$color-color-5-text} !important;
  --color-color-5-text-hover: #{getHover($color-color-5-text)} !important;
  --color-color-5-text-selected: #{getSelected($color-color-5-text)} !important;
  $color-color-4-secondary: #9988c9;
  --color-color-4-secondary: #{$color-color-4-secondary} !important;
  --color-color-4-secondary-hover: #{getHover($color-color-4-secondary)} !important;
  --color-color-4-secondary-selected: #{getSelected($color-color-4-secondary)} !important;
  $color-color-3-subtle: #663c29;
  --color-color-3-subtle: #{$color-color-3-subtle} !important;
  --color-color-3-subtle-hover: #{getHover($color-color-3-subtle)} !important;
  --color-color-3-subtle-selected: #{getSelected($color-color-3-subtle)} !important;
  $color-color-5-subtle: #7b7834;
  --color-color-5-subtle: #{$color-color-5-subtle} !important;
  --color-color-5-subtle-hover: #{getHover($color-color-5-subtle)} !important;
  --color-color-5-subtle-selected: #{getSelected($color-color-5-subtle)} !important;
  $color-color-5-surface: #1f1e09;
  --color-color-5-surface: #{$color-color-5-surface} !important;
  --color-color-5-surface-hover: #{getHover($color-color-5-surface)} !important;
  --color-color-5-surface-selected: #{getSelected($color-color-5-surface)} !important;
  $color-color-3-surface: #1c120d;
  --color-color-3-surface: #{$color-color-3-surface} !important;
  --color-color-3-surface-hover: #{getHover($color-color-3-surface)} !important;
  --color-color-3-surface-selected: #{getSelected($color-color-3-surface)} !important;
  $color-color-3-text: #f0e1db;
  --color-color-3-text: #{$color-color-3-text} !important;
  --color-color-3-text-hover: #{getHover($color-color-3-text)} !important;
  --color-color-3-text-selected: #{getSelected($color-color-3-text)} !important;
  $color-color-1-text: #efdce7;
  --color-color-1-text: #{$color-color-1-text} !important;
  --color-color-1-text-hover: #{getHover($color-color-1-text)} !important;
  --color-color-1-text-selected: #{getSelected($color-color-1-text)} !important;
  $color-color-1-subtle: #6d3155;
  --color-color-1-subtle: #{$color-color-1-subtle} !important;
  --color-color-1-subtle-hover: #{getHover($color-color-1-subtle)} !important;
  --color-color-1-subtle-selected: #{getSelected($color-color-1-subtle)} !important;
  $color-color-1-surface: #23101b;
  --color-color-1-surface: #{$color-color-1-surface} !important;
  --color-color-1-surface-hover: #{getHover($color-color-1-surface)} !important;
  --color-color-1-surface-selected: #{getSelected($color-color-1-surface)} !important;
  $color-color-1-secondary: #d095b8;
  --color-color-1-secondary: #{$color-color-1-secondary} !important;
  --color-color-1-secondary-hover: #{getHover($color-color-1-secondary)} !important;
  --color-color-1-secondary-selected: #{getSelected($color-color-1-secondary)} !important;
  $color-color-1-default: #b55990;
  --color-color-1-default: #{$color-color-1-default} !important;
  --color-color-1-default-hover: #{getHover($color-color-1-default)} !important;
  --color-color-1-default-selected: #{getSelected($color-color-1-default)} !important;
  $color-color-2-text: #d5ddf6;
  --color-color-2-text: #{$color-color-2-text} !important;
  --color-color-2-text-hover: #{getHover($color-color-2-text)} !important;
  --color-color-2-text-selected: #{getSelected($color-color-2-text)} !important;
  $color-color-2-surface: #09112a;
  --color-color-2-surface: #{$color-color-2-surface} !important;
  --color-color-2-surface-hover: #{getHover($color-color-2-surface)} !important;
  --color-color-2-surface-selected: #{getSelected($color-color-2-surface)} !important;
  $color-color-2-subtle: #2f4386;
  --color-color-2-subtle: #{$color-color-2-subtle} !important;
  --color-color-2-subtle-hover: #{getHover($color-color-2-subtle)} !important;
  --color-color-2-subtle-selected: #{getSelected($color-color-2-subtle)} !important;
  $color-color-2-secondary: #8b9ddf;
  --color-color-2-secondary: #{$color-color-2-secondary} !important;
  --color-color-2-secondary-hover: #{getHover($color-color-2-secondary)} !important;
  --color-color-2-secondary-selected: #{getSelected($color-color-2-secondary)} !important;
  $color-neutral-text: #ebccad;
  --color-neutral-text: #{$color-neutral-text} !important;
  --color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
  --color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
  $color-warning-surface: #26170d;
  --color-warning-surface: #{$color-warning-surface} !important;
  --color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
  --color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
  $color-text-subtle: #6f8490;
  --color-text-subtle: #{$color-text-subtle} !important;
  --color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
  --color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
  $color-border-secondary: #2f2f37;
  --color-border-secondary: #{$color-border-secondary} !important;
  --color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
  --color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
  $color-danger-subtle: #bc2929;
  --color-danger-subtle: #{$color-danger-subtle} !important;
  --color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
  --color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
  $color-border-default: #464653;
  --color-border-default: #{$color-border-default} !important;
  --color-border-default-hover: #{getHover($color-border-default)} !important;
  --color-border-default-selected: #{getSelected($color-border-default)} !important;
  $color-icon-subtle: #5b5b6b;
  --color-icon-subtle: #{$color-icon-subtle} !important;
  --color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
  --color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
  $color-text-secondary: #a3b1b8;
  --color-text-secondary: #{$color-text-secondary} !important;
  --color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
  --color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
  $color-text-default: #d4dade;
  --color-text-default: #{$color-text-default} !important;
  --color-text-default-hover: #{getHover($color-text-default)} !important;
  --color-text-default-selected: #{getSelected($color-text-default)} !important;
  $color-success-text: #bcf5cf;
  --color-success-text: #{$color-success-text} !important;
  --color-success-text-hover: #{getHover($color-success-text)} !important;
  --color-success-text-selected: #{getSelected($color-success-text)} !important;
  $color-primary-secondary: #4458ee;
  --color-primary-secondary: #{$color-primary-secondary} !important;
  --color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
  --color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
  $color-primary-text: #d0d5fb;
  --color-primary-text: #{$color-primary-text} !important;
  --color-primary-text-hover: #{getHover($color-primary-text)} !important;
  --color-primary-text-selected: #{getSelected($color-primary-text)} !important;
  $color-white: #ffffff;
  --color-white: #{$color-white} !important;
  --color-white-hover: #{getHover($color-white)} !important;
  --color-white-selected: #{getSelected($color-white)} !important;
  $color-color-6-default: #a17045;
  --color-color-6-default: #{$color-color-6-default} !important;
  --color-color-6-default-hover: #{getHover($color-color-6-default)} !important;
  --color-color-6-default-selected: #{getSelected($color-color-6-default)} !important;
  $color-color-6-surface: #33281f;
  --color-color-6-surface: #{$color-color-6-surface} !important;
  --color-color-6-surface-hover: #{getHover($color-color-6-surface)} !important;
  --color-color-6-surface-selected: #{getSelected($color-color-6-surface)} !important;
  $color-color-6-subtle: #593e26;
  --color-color-6-subtle: #{$color-color-6-subtle} !important;
  --color-color-6-subtle-hover: #{getHover($color-color-6-subtle)} !important;
  --color-color-6-subtle-selected: #{getSelected($color-color-6-subtle)} !important;
  $color-color-6-secondary: #7d4d36;
  --color-color-6-secondary: #{$color-color-6-secondary} !important;
  --color-color-6-secondary-hover: #{getHover($color-color-6-secondary)} !important;
  --color-color-6-secondary-selected: #{getSelected($color-color-6-secondary)} !important;
  $color-color-6-text: #d9b7a6;
  --color-color-6-text: #{$color-color-6-text} !important;
  --color-color-6-text-hover: #{getHover($color-color-6-text)} !important;
  --color-color-6-text-selected: #{getSelected($color-color-6-text)} !important;
  $color-success-secondary: #2c963d;
  --color-success-secondary: #{$color-success-secondary} !important;
  --color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
  --color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
  $color-success-surface: #081c0b;
  --color-success-surface: #{$color-success-surface} !important;
  --color-success-surface-hover: #{getHover($color-success-surface)} !important;
  --color-success-surface-selected: #{getSelected($color-success-surface)} !important;
  $color-highlight-surface: #201429;
  --color-highlight-surface: #{$color-highlight-surface} !important;
  --color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
  --color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
  $color-surface-tertiary: #1b1b22;
  --color-surface-tertiary: #{$color-surface-tertiary} !important;
  --color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
  --color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
  $color-highlight-default: #a06bc7;
  --color-highlight-default: #{$color-highlight-default} !important;
  --color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
  --color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
  $color-warning-secondary: #efa676;
  --color-warning-secondary: #{$color-warning-secondary} !important;
  --color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
  --color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
  $color-icon-secondary: #7d7d9b;
  --color-icon-secondary: #{$color-icon-secondary} !important;
  --color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
  --color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
  $color-highlight-subtle: #8946b9;
  --color-highlight-subtle: #{$color-highlight-subtle} !important;
  --color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
  --color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
  $color-danger-default: #d64344;
  --color-danger-default: #{$color-danger-default} !important;
  --color-danger-default-hover: #{getHover($color-danger-default)} !important;
  --color-danger-default-selected: #{getSelected($color-danger-default)} !important;
  $color-neutral-default: #cc8033;
  --color-neutral-default: #{$color-neutral-default} !important;
  --color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
  --color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
  $color-warning-subtle: #d06925;
  --color-warning-subtle: #{$color-warning-subtle} !important;
  --color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
  --color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
  $color-danger-surface: #260d0d;
  --color-danger-surface: #{$color-danger-surface} !important;
  --color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
  --color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
  $color-highlight-secondary: #ac7ece;
  --color-highlight-secondary: #{$color-highlight-secondary} !important;
  --color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
  --color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
  $color-danger-secondary: #de6868;
  --color-danger-secondary: #{$color-danger-secondary} !important;
  --color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
  --color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
  $color-danger-text: #fbeeee;
  --color-danger-text: #{$color-danger-text} !important;
  --color-danger-text-hover: #{getHover($color-danger-text)} !important;
  --color-danger-text-selected: #{getSelected($color-danger-text)} !important;
  $color-neutral-subtle: #ab7d49;
  --color-neutral-subtle: #{$color-neutral-subtle} !important;
  --color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
  --color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
  $color-neutral-surface: #261c12;
  --color-neutral-surface: #{$color-neutral-surface} !important;
  --color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
  --color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
  $color-neutral-secondary: #ebccad;
  --color-neutral-secondary: #{$color-neutral-secondary} !important;
  --color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
  --color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
  $color-icon-default: #b7b7c7;
  --color-icon-default: #{$color-icon-default} !important;
  --color-icon-default-hover: #{getHover($color-icon-default)} !important;
  --color-icon-default-selected: #{getSelected($color-icon-default)} !important;
  $color-border-subtle: #28282f;
  --color-border-subtle: #{$color-border-subtle} !important;
  --color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
  --color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
  $color-highlight-text: #eee5f5;
  --color-highlight-text: #{$color-highlight-text} !important;
  --color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
  --color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
  $color-primary-default: #5c6df0;
  --color-primary-default: #{$color-primary-default} !important;
  --color-primary-default-hover: #{getHover($color-primary-default)} !important;
  --color-primary-default-selected: #{getSelected($color-primary-default)} !important;
  $color-success-default: #34b249;
  --color-success-default: #{$color-success-default} !important;
  --color-success-default-hover: #{getHover($color-success-default)} !important;
  --color-success-default-selected: #{getSelected($color-success-default)} !important;
  $color-warning-default: #ec9357;
  --color-warning-default: #{$color-warning-default} !important;
  --color-warning-default-hover: #{getHover($color-warning-default)} !important;
  --color-warning-default-selected: #{getSelected($color-warning-default)} !important;
  $color-input-default: #2f2f3c;
  --color-input-default: #{$color-input-default} !important;
  --color-input-default-hover: #{getHover($color-input-default)} !important;
  --color-input-default-selected: #{getSelected($color-input-default)} !important;
  $color-primary-subtle: #3b4cce;
  --color-primary-subtle: #{$color-primary-subtle} !important;
  --color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
  --color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
  $color-success-subtle: #257e34;
  --color-success-subtle: #{$color-success-subtle} !important;
  --color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
  --color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
  $color-primary-surface: #151932;
  --color-primary-surface: #{$color-primary-surface} !important;
  --color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
  --color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
  $color-surface-default: #131316;
  --color-surface-default: #{$color-surface-default} !important;
  --color-surface-default-hover: #{getHover($color-surface-default)} !important;
  --color-surface-default-selected: #{getSelected($color-surface-default)} !important;
  $color-surface-secondary: #17171c;
  --color-surface-secondary: #{$color-surface-secondary} !important;
  --color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
  --color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
  $color-surface-subtle: #0e0e11;
  --color-surface-subtle: #{$color-surface-subtle} !important;
  --color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
  --color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
}

[data-theme="f-light"] {
  $color-color-1-text: #240f1c;
  --color-color-1-text: #{$color-color-1-text} !important;
  --color-color-1-text-hover: #{getHover($color-color-1-text)} !important;
  --color-color-1-text-selected: #{getSelected($color-color-1-text)} !important;
  $color-color-3-default: #925d5d;
  --color-color-3-default: #{$color-color-3-default} !important;
  --color-color-3-default-hover: #{getHover($color-color-3-default)} !important;
  --color-color-3-default-selected: #{getSelected($color-color-3-default)} !important;
  $color-color-2-subtle: #8b9ddf;
  --color-color-2-subtle: #{$color-color-2-subtle} !important;
  --color-color-2-subtle-hover: #{getHover($color-color-2-subtle)} !important;
  --color-color-2-subtle-selected: #{getSelected($color-color-2-subtle)} !important;
  $color-color-6-text: #1e140b;
  --color-color-6-text: #{$color-color-6-text} !important;
  --color-color-6-text-hover: #{getHover($color-color-6-text)} !important;
  --color-color-6-text-selected: #{getSelected($color-color-6-text)} !important;
  $color-color-2-secondary: #2f4386;
  --color-color-2-secondary: #{$color-color-2-secondary} !important;
  --color-color-2-secondary-hover: #{getHover($color-color-2-secondary)} !important;
  --color-color-2-secondary-selected: #{getSelected($color-color-2-secondary)} !important;
  $color-color-3: #307989;
  --color-color-3: #{$color-color-3} !important;
  --color-color-3-hover: #{getHover($color-color-3)} !important;
  --color-color-3-selected: #{getSelected($color-color-3)} !important;
  $color-color-3-surface: #e1d1d1;
  --color-color-3-surface: #{$color-color-3-surface} !important;
  --color-color-3-surface-hover: #{getHover($color-color-3-surface)} !important;
  --color-color-3-surface-selected: #{getSelected($color-color-3-surface)} !important;
  $color-color-5-default: #b1ad28;
  --color-color-5-default: #{$color-color-5-default} !important;
  --color-color-5-default-hover: #{getHover($color-color-5-default)} !important;
  --color-color-5-default-selected: #{getSelected($color-color-5-default)} !important;
  $color-color-3-text: #1f1414;
  --color-color-3-text: #{$color-color-3-text} !important;
  --color-color-3-text-hover: #{getHover($color-color-3-text)} !important;
  --color-color-3-text-selected: #{getSelected($color-color-3-text)} !important;
  $color-color-3-subtle: #c4a1a1;
  --color-color-3-subtle: #{$color-color-3-subtle} !important;
  --color-color-3-subtle-hover: #{getHover($color-color-3-subtle)} !important;
  --color-color-3-subtle-selected: #{getSelected($color-color-3-subtle)} !important;
  $color-color-3-secondary: #5e3b3b;
  --color-color-3-secondary: #{$color-color-3-secondary} !important;
  --color-color-3-secondary-hover: #{getHover($color-color-3-secondary)} !important;
  --color-color-3-secondary-selected: #{getSelected($color-color-3-secondary)} !important;
  $color-color-5-surface: #ececd8;
  --color-color-5-surface: #{$color-color-5-surface} !important;
  --color-color-5-surface-hover: #{getHover($color-color-5-surface)} !important;
  --color-color-5-surface-selected: #{getSelected($color-color-5-surface)} !important;
  $color-border-secondary: #c5ced3;
  --color-border-secondary: #{$color-border-secondary} !important;
  --color-border-secondary-hover: #{getHover($color-border-secondary)} !important;
  --color-border-secondary-selected: #{getSelected($color-border-secondary)} !important;
  $color-color-2: #eb9248;
  --color-color-2: #{$color-color-2} !important;
  --color-color-2-hover: #{getHover($color-color-2)} !important;
  --color-color-2-selected: #{getSelected($color-color-2)} !important;
  $color-color-2-text: #09112a;
  --color-color-2-text: #{$color-color-2-text} !important;
  --color-color-2-text-hover: #{getHover($color-color-2-text)} !important;
  --color-color-2-text-selected: #{getSelected($color-color-2-text)} !important;
  $color-color-2-default: #506ed7;
  --color-color-2-default: #{$color-color-2-default} !important;
  --color-color-2-default-hover: #{getHover($color-color-2-default)} !important;
  --color-color-2-default-selected: #{getSelected($color-color-2-default)} !important;
  $color-color-1-secondary: #733059;
  --color-color-1-secondary: #{$color-color-1-secondary} !important;
  --color-color-1-secondary-hover: #{getHover($color-color-1-secondary)} !important;
  --color-color-1-secondary-selected: #{getSelected($color-color-1-secondary)} !important;
  $color-color-4-default: #584393;
  --color-color-4-default: #{$color-color-4-default} !important;
  --color-color-4-default-hover: #{getHover($color-color-4-default)} !important;
  --color-color-4-default-selected: #{getSelected($color-color-4-default)} !important;
  $color-color-4-secondary: #362a5b;
  --color-color-4-secondary: #{$color-color-4-secondary} !important;
  --color-color-4-secondary-hover: #{getHover($color-color-4-secondary)} !important;
  --color-color-4-secondary-selected: #{getSelected($color-color-4-secondary)} !important;
  $color-border-default: #bac4ca;
  --color-border-default: #{$color-border-default} !important;
  --color-border-default-hover: #{getHover($color-border-default)} !important;
  --color-border-default-selected: #{getSelected($color-border-default)} !important;
  $color-color-5: #ef798a;
  --color-color-5: #{$color-color-5} !important;
  --color-color-5-hover: #{getHover($color-color-5)} !important;
  --color-color-5-selected: #{getSelected($color-color-5)} !important;
  $color-color-5-text: #2a2909;
  --color-color-5-text: #{$color-color-5-text} !important;
  --color-color-5-text-hover: #{getHover($color-color-5-text)} !important;
  --color-color-5-text-selected: #{getSelected($color-color-5-text)} !important;
  $color-color-4-subtle: #9988c9;
  --color-color-4-subtle: #{$color-color-4-subtle} !important;
  --color-color-4-subtle-hover: #{getHover($color-color-4-subtle)} !important;
  --color-color-4-subtle-selected: #{getSelected($color-color-4-subtle)} !important;
  $color-color-1: #a379c9;
  --color-color-1: #{$color-color-1} !important;
  --color-color-1-hover: #{getHover($color-color-1)} !important;
  --color-color-1-selected: #{getSelected($color-color-1)} !important;
  $color-color-4-surface: #e1dcef;
  --color-color-4-surface: #{$color-color-4-surface} !important;
  --color-color-4-surface-hover: #{getHover($color-color-4-surface)} !important;
  --color-color-4-surface-selected: #{getSelected($color-color-4-surface)} !important;
  $color-color-1-subtle: #d59abe;
  --color-color-1-subtle: #{$color-color-1-subtle} !important;
  --color-color-1-subtle-hover: #{getHover($color-color-1-subtle)} !important;
  --color-color-1-subtle-selected: #{getSelected($color-color-1-subtle)} !important;
  $color-color-5-secondary: #6c6a18;
  --color-color-5-secondary: #{$color-color-5-secondary} !important;
  --color-color-5-secondary-hover: #{getHover($color-color-5-secondary)} !important;
  --color-color-5-secondary-selected: #{getSelected($color-color-5-secondary)} !important;
  $color-color-4: #5ad8b2;
  --color-color-4: #{$color-color-4} !important;
  --color-color-4-hover: #{getHover($color-color-4)} !important;
  --color-color-4-selected: #{getSelected($color-color-4)} !important;
  $color-color-4-text: #151023;
  --color-color-4-text: #{$color-color-4-text} !important;
  --color-color-4-text-hover: #{getHover($color-color-4-text)} !important;
  --color-color-4-text-selected: #{getSelected($color-color-4-text)} !important;
  $color-color-5-subtle: #dfdc72;
  --color-color-5-subtle: #{$color-color-5-subtle} !important;
  --color-color-5-subtle-hover: #{getHover($color-color-5-subtle)} !important;
  --color-color-5-subtle-selected: #{getSelected($color-color-5-subtle)} !important;
  $color-color-2-surface: #d5ddf6;
  --color-color-2-surface: #{$color-color-2-surface} !important;
  --color-color-2-surface-hover: #{getHover($color-color-2-surface)} !important;
  --color-color-2-surface-selected: #{getSelected($color-color-2-surface)} !important;
  $color-color-6: #db5a42;
  --color-color-6: #{$color-color-6} !important;
  --color-color-6-hover: #{getHover($color-color-6)} !important;
  --color-color-6-selected: #{getSelected($color-color-6)} !important;
  $color-surface-default: #f9fafb;
  --color-surface-default: #{$color-surface-default} !important;
  --color-surface-default-hover: #{getHover($color-surface-default)} !important;
  --color-surface-default-selected: #{getSelected($color-surface-default)} !important;
  $color-text-subtle: #687d87;
  --color-text-subtle: #{$color-text-subtle} !important;
  --color-text-subtle-hover: #{getHover($color-text-subtle)} !important;
  --color-text-subtle-selected: #{getSelected($color-text-subtle)} !important;
  $color-icon-secondary: #6e8591;
  --color-icon-secondary: #{$color-icon-secondary} !important;
  --color-icon-secondary-hover: #{getHover($color-icon-secondary)} !important;
  --color-icon-secondary-selected: #{getSelected($color-icon-secondary)} !important;
  $color-icon-default: #5d6f79;
  --color-icon-default: #{$color-icon-default} !important;
  --color-icon-default-hover: #{getHover($color-icon-default)} !important;
  --color-icon-default-selected: #{getSelected($color-icon-default)} !important;
  $color-text-secondary: #505f68;
  --color-text-secondary: #{$color-text-secondary} !important;
  --color-text-secondary-hover: #{getHover($color-text-secondary)} !important;
  --color-text-secondary-selected: #{getSelected($color-text-secondary)} !important;
  $color-border-subtle: #dce0e4;
  --color-border-subtle: #{$color-border-subtle} !important;
  --color-border-subtle-hover: #{getHover($color-border-subtle)} !important;
  --color-border-subtle-selected: #{getSelected($color-border-subtle)} !important;
  $color-surface-subtle: #d4d9de;
  --color-surface-subtle: #{$color-surface-subtle} !important;
  --color-surface-subtle-hover: #{getHover($color-surface-subtle)} !important;
  --color-surface-subtle-selected: #{getSelected($color-surface-subtle)} !important;
  $color-input-default: #d7d9db;
  --color-input-default: #{$color-input-default} !important;
  --color-input-default-hover: #{getHover($color-input-default)} !important;
  --color-input-default-selected: #{getSelected($color-input-default)} !important;
  $color-icon-subtle: #a9b5bc;
  --color-icon-subtle: #{$color-icon-subtle} !important;
  --color-icon-subtle-hover: #{getHover($color-icon-subtle)} !important;
  --color-icon-subtle-selected: #{getSelected($color-icon-subtle)} !important;
  $color-white: #000000;
  --color-white: #{$color-white} !important;
  --color-white-hover: #{getHover($color-white)} !important;
  --color-white-selected: #{getSelected($color-white)} !important;
  $color-color-1-surface: #e7ddf3;
  --color-color-1-surface: #{$color-color-1-surface} !important;
  --color-color-1-surface-hover: #{getHover($color-color-1-surface)} !important;
  --color-color-1-surface-selected: #{getSelected($color-color-1-surface)} !important;
  $color-color-1-default: #874dcb;
  --color-color-1-default: #{$color-color-1-default} !important;
  --color-color-1-default-hover: #{getHover($color-color-1-default)} !important;
  --color-color-1-default-selected: #{getSelected($color-color-1-default)} !important;
  $color-color-6-secondary: #d5b290;
  --color-color-6-secondary: #{$color-color-6-secondary} !important;
  --color-color-6-secondary-hover: #{getHover($color-color-6-secondary)} !important;
  --color-color-6-secondary-selected: #{getSelected($color-color-6-secondary)} !important;
  $color-color-6-subtle: #d5b290;
  --color-color-6-subtle: #{$color-color-6-subtle} !important;
  --color-color-6-subtle-hover: #{getHover($color-color-6-subtle)} !important;
  --color-color-6-subtle-selected: #{getSelected($color-color-6-subtle)} !important;
  $color-color-6-default: #ba8c5e;
  --color-color-6-default: #{$color-color-6-default} !important;
  --color-color-6-default-hover: #{getHover($color-color-6-default)} !important;
  --color-color-6-default-selected: #{getSelected($color-color-6-default)} !important;
  $color-color-6-surface: #e8e0d9;
  --color-color-6-surface: #{$color-color-6-surface} !important;
  --color-color-6-surface-hover: #{getHover($color-color-6-surface)} !important;
  --color-color-6-surface-selected: #{getSelected($color-color-6-surface)} !important;
  $color-highlight-secondary: #a166cc;
  --color-highlight-secondary: #{$color-highlight-secondary} !important;
  --color-highlight-secondary-hover: #{getHover($color-highlight-secondary)} !important;
  --color-highlight-secondary-selected: #{getSelected($color-highlight-secondary)} !important;
  $color-highlight-surface: #f1e8f7;
  --color-highlight-surface: #{$color-highlight-surface} !important;
  --color-highlight-surface-hover: #{getHover($color-highlight-surface)} !important;
  --color-highlight-surface-selected: #{getSelected($color-highlight-surface)} !important;
  $color-primary-secondary: #616ed1;
  --color-primary-secondary: #{$color-primary-secondary} !important;
  --color-primary-secondary-hover: #{getHover($color-primary-secondary)} !important;
  --color-primary-secondary-selected: #{getSelected($color-primary-secondary)} !important;
  $color-danger-text: #6a1515;
  --color-danger-text: #{$color-danger-text} !important;
  --color-danger-text-hover: #{getHover($color-danger-text)} !important;
  --color-danger-text-selected: #{getSelected($color-danger-text)} !important;
  $color-neutral-subtle: #d9b38c;
  --color-neutral-subtle: #{$color-neutral-subtle} !important;
  --color-neutral-subtle-hover: #{getHover($color-neutral-subtle)} !important;
  --color-neutral-subtle-selected: #{getSelected($color-neutral-subtle)} !important;
  $color-warning-secondary: #feb067;
  --color-warning-secondary: #{$color-warning-secondary} !important;
  --color-warning-secondary-hover: #{getHover($color-warning-secondary)} !important;
  --color-warning-secondary-selected: #{getSelected($color-warning-secondary)} !important;
  $color-warning-surface: #fff2e6;
  --color-warning-surface: #{$color-warning-surface} !important;
  --color-warning-surface-hover: #{getHover($color-warning-surface)} !important;
  --color-warning-surface-selected: #{getSelected($color-warning-surface)} !important;
  $color-warning-default: #fe8f45;
  --color-warning-default: #{$color-warning-default} !important;
  --color-warning-default-hover: #{getHover($color-warning-default)} !important;
  --color-warning-default-selected: #{getSelected($color-warning-default)} !important;
  $color-warning-text: #5b2c00;
  --color-warning-text: #{$color-warning-text} !important;
  --color-warning-text-hover: #{getHover($color-warning-text)} !important;
  --color-warning-text-selected: #{getSelected($color-warning-text)} !important;
  $color-success-secondary: #3eda58;
  --color-success-secondary: #{$color-success-secondary} !important;
  --color-success-secondary-hover: #{getHover($color-success-secondary)} !important;
  --color-success-secondary-selected: #{getSelected($color-success-secondary)} !important;
  $color-neutral-secondary: #dbb894;
  --color-neutral-secondary: #{$color-neutral-secondary} !important;
  --color-neutral-secondary-hover: #{getHover($color-neutral-secondary)} !important;
  --color-neutral-secondary-selected: #{getSelected($color-neutral-secondary)} !important;
  $color-primary-surface: #ebedf9;
  --color-primary-surface: #{$color-primary-surface} !important;
  --color-primary-surface-hover: #{getHover($color-primary-surface)} !important;
  --color-primary-surface-selected: #{getSelected($color-primary-surface)} !important;
  $color-primary-default: #4151c8;
  --color-primary-default: #{$color-primary-default} !important;
  --color-primary-default-hover: #{getHover($color-primary-default)} !important;
  --color-primary-default-selected: #{getSelected($color-primary-default)} !important;
  $color-primary-subtle: #7984d8;
  --color-primary-subtle: #{$color-primary-subtle} !important;
  --color-primary-subtle-hover: #{getHover($color-primary-subtle)} !important;
  --color-primary-subtle-selected: #{getSelected($color-primary-subtle)} !important;
  $color-success-surface: #ddf8e1;
  --color-success-surface: #{$color-success-surface} !important;
  --color-success-surface-hover: #{getHover($color-success-surface)} !important;
  --color-success-surface-selected: #{getSelected($color-success-surface)} !important;
  $color-success-default: #27ce43;
  --color-success-default: #{$color-success-default} !important;
  --color-success-default-hover: #{getHover($color-success-default)} !important;
  --color-success-default-selected: #{getSelected($color-success-default)} !important;
  $color-danger-surface: #f9e1e1;
  --color-danger-surface: #{$color-danger-surface} !important;
  --color-danger-surface-hover: #{getHover($color-danger-surface)} !important;
  --color-danger-surface-selected: #{getSelected($color-danger-surface)} !important;
  $color-text-default: #141420;
  --color-text-default: #{$color-text-default} !important;
  --color-text-default-hover: #{getHover($color-text-default)} !important;
  --color-text-default-selected: #{getSelected($color-text-default)} !important;
  $color-primary-text: #1d2563;
  --color-primary-text: #{$color-primary-text} !important;
  --color-primary-text-hover: #{getHover($color-primary-text)} !important;
  --color-primary-text-selected: #{getSelected($color-primary-text)} !important;
  $color-neutral-default: #c68c53;
  --color-neutral-default: #{$color-neutral-default} !important;
  --color-neutral-default-hover: #{getHover($color-neutral-default)} !important;
  --color-neutral-default-selected: #{getSelected($color-neutral-default)} !important;
  $color-neutral-text: #604020;
  --color-neutral-text: #{$color-neutral-text} !important;
  --color-neutral-text-hover: #{getHover($color-neutral-text)} !important;
  --color-neutral-text-selected: #{getSelected($color-neutral-text)} !important;
  $color-success-subtle: #a1edad;
  --color-success-subtle: #{$color-success-subtle} !important;
  --color-success-subtle-hover: #{getHover($color-success-subtle)} !important;
  --color-success-subtle-selected: #{getSelected($color-success-subtle)} !important;
  $color-neutral-surface: #f7f0e8;
  --color-neutral-surface: #{$color-neutral-surface} !important;
  --color-neutral-surface-hover: #{getHover($color-neutral-surface)} !important;
  --color-neutral-surface-selected: #{getSelected($color-neutral-surface)} !important;
  $color-danger-default: #db494a;
  --color-danger-default: #{$color-danger-default} !important;
  --color-danger-default-hover: #{getHover($color-danger-default)} !important;
  --color-danger-default-selected: #{getSelected($color-danger-default)} !important;
  $color-highlight-text: #37194c;
  --color-highlight-text: #{$color-highlight-text} !important;
  --color-highlight-text-hover: #{getHover($color-highlight-text)} !important;
  --color-highlight-text-selected: #{getSelected($color-highlight-text)} !important;
  $color-success-text: #125e1f;
  --color-success-text: #{$color-success-text} !important;
  --color-success-text-hover: #{getHover($color-success-text)} !important;
  --color-success-text-selected: #{getSelected($color-success-text)} !important;
  $color-danger-secondary: #e26a6a;
  --color-danger-secondary: #{$color-danger-secondary} !important;
  --color-danger-secondary-hover: #{getHover($color-danger-secondary)} !important;
  --color-danger-secondary-selected: #{getSelected($color-danger-secondary)} !important;
  $color-highlight-subtle: #b98cd9;
  --color-highlight-subtle: #{$color-highlight-subtle} !important;
  --color-highlight-subtle-hover: #{getHover($color-highlight-subtle)} !important;
  --color-highlight-subtle-selected: #{getSelected($color-highlight-subtle)} !important;
  $color-warning-subtle: #febd80;
  --color-warning-subtle: #{$color-warning-subtle} !important;
  --color-warning-subtle-hover: #{getHover($color-warning-subtle)} !important;
  --color-warning-subtle-selected: #{getSelected($color-warning-subtle)} !important;
  $color-highlight-default: #8a3fc0;
  --color-highlight-default: #{$color-highlight-default} !important;
  --color-highlight-default-hover: #{getHover($color-highlight-default)} !important;
  --color-highlight-default-selected: #{getSelected($color-highlight-default)} !important;
  $color-danger-subtle: #eda1a1;
  --color-danger-subtle: #{$color-danger-subtle} !important;
  --color-danger-subtle-hover: #{getHover($color-danger-subtle)} !important;
  --color-danger-subtle-selected: #{getSelected($color-danger-subtle)} !important;
  $color-surface-tertiary: #e2e6e9;
  --color-surface-tertiary: #{$color-surface-tertiary} !important;
  --color-surface-tertiary-hover: #{getHover($color-surface-tertiary)} !important;
  --color-surface-tertiary-selected: #{getSelected($color-surface-tertiary)} !important;
  $color-surface-secondary: #ebeeef;
  --color-surface-secondary: #{$color-surface-secondary} !important;
  --color-surface-secondary-hover: #{getHover($color-surface-secondary)} !important;
  --color-surface-secondary-selected: #{getSelected($color-surface-secondary)} !important;
}
